@import "tailwindcss";

@layer base {
  html { -webkit-text-size-adjust: 100%; }
  body { min-width: 320px; overflow-x: hidden; }
  button, input, select, textarea { font: inherit; }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@theme {
  --animate-spin1: spin1 1s linear infinite;
  --animate-spin2: spin2 1s linear infinite;

  @keyframes spin1 {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spin2 {
    to {
      transform: rotate(-360deg);
    }
  }
}
